<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>NgAngularblogFrontend</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<div class = "card-header">
  <div class="container">
    <div class="row">
      <!--Header section elements-->
      <div class="col-md-6"><h1> <a href="" class="title"> Tech Blog</a> </h1></div>
      <div class="col-md-6">
        <a href="" class="login btn btn-default">Login</a>
        <a href="" class="register btn btn-default">Register</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
